<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_name }} | Рыболовный магазин "Улов"</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Рыболовный магазин "Улов"</h1>
        <nav>
            <ul>
                {% for item in menu_items %}
                <li><a href="{{ item.link }}">{{ item.text }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>