{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Добро пожаловать в наш магазин!</h2>
<p>Мы предлагаем лучшие товары для рыбалки по доступным ценам.</p>

<div class="highlight">
    <img src="{% static 'images/fishing_rod.jpg' %}" alt="Рыболовные товары" width="600">
    <p>Широкий ассортимент снастей и аксессуаров для профессиональной и любительской рыбалки</p>
</div>

<div class="features">
    <h3>Наши преимущества:</h3>
    <ul>
        <li>Гарантия качества на все товары</li>
        <li>Профессиональные консультации</li>
        <li>Быстрая доставка</li>
        <li>Гибкая система скидок</li>
    </ul>
</div>
{% endblock %}